<h2>New Message</h2>

 <%= form_for @message do |f| %>
  <%= f.hidden_field :user_receiver %>
  <%= f.hidden_field :user_sender%>
  <%= f.hidden_field :project_id %>
  <br>
  <%= f.text_field :title %>
  <%= f.label :subject %>
    <br>
  <%= f.text_area :body %>
  <%= f.label :body %>
  <br>
  <br>
  <%= f.submit %>
<% end %>

<hr>
<%= @message.inspect %>
<%= params.inspect %>

