<div class="message_show"></div>
<%= @message.title %>
<br>
sent at: <%= @message.created_at %>
<br>
message: <%= @message.body %>
<hr>
<a href='/messages/new/?user_receiver=<%=@message.user_sender %>'><button>Reply</button></a>
<hr>
</div>

<%= @message.inspect %>
<%= @project.inspect %>