<div class="message_show"></div>
Messages for <%= @project_name %>
<br>
<br>
Sent by: <%= @sender_name %>
<br>
Subject: <%= @message.title %>
<br>
<br>`
Message: <%= @message.body %>
<br>
Sent at: <%= @message.created_at %>
<br>
<a href='/messages/new/?user_receiver=<%= @message.user_sender %>&project_id=<%= @message.project_id %>&message_id=<%= @message.id %>'>Reply</a>
<hr>

<% @messages.each do |m| %>
<ul>
	<li>Sent by <%= m.sender.user_name %> about the <%= @project_name %> project.</li>
	<li><%= m.title %></li>
	<li><%= m.body %></li>
</ul
><% end %>
<%= @messages.inspect %><br>
<%= params.inspect %><br>
<%= @message.inspect %><br>

