<h5><%= "Add a Skill" %></h5>
	<%= form_for @skillset do |f| %>
	   <%= text_field_tag "skill[skill]", "", :autofocus => true %>
	   <%= f.hidden_field :skillable_id %>
	   <%= f.hidden_field :skillable_type %>
	  <br>
	   <%= f.submit  class: "btn btn-primary" %>
	<% end %>
