<%= render 'header' %>

<div class="welcome row">
	<strong><h1>Collaborate on Side Projects</h1></strong>
	<h2>Connect via Github to start building.</h2>
		<a href="<%= user_omniauth_authorize_path(:github) %>"><%= image_tag "github_btn.png" %></a> 
		
<div class="featured">

			<ul>
				<li>			
					<a href="http://techcrunch.com/2012/08/26/late-labs/" target="_blank"><%= image_tag "techcrunch.png" %></a>
				</li>

				<li>
					<a href="http://tech.co/late-labs-2012-10" target="_blank"><%= image_tag "techcocktail.png" %></a>		
				</li>

				<li>
					<a href="http://venturebeat.com/2012/09/06/late-labs-buggle-us/" target="_blank"><%= image_tag "venturebeat.png" %></a>
				</li>

				<li>
					<a href="http://pandodaily.com/2012/10/17/equity-is-the-new-cash-late-labs-adds-projects-to-crowdsourced-coding-community/" target="_blank"><%= image_tag "pandodaily.png" %></a>
				</li>
			</ul>

			</div>
</div>

<div class="about row">
	<img src="/assets/github_icon.png" height="600px" width="600px" />
	<h1>Connecting developers with developers.</h1>
	<h2>That's what Late Labs is for. Find projects to team up on, or find developers to collaborate with.</h2>
</div>
<div class="why row">
	<h1>Get experience on real-world projects.</h1>
	<h2>The great thing about Late Labs is learning from other developers on real projects.</h2>
	<center><a id="button" href="/projects/">Checkout our projects</a></center>
</div>
<div class="how row">
	<h1>Help us create our product.</h1>
	<h2>This content is about how we're opensource.</h2>
	<center><a id="button" href="https://github.com/latelabs/latelabs">Check out our Github Project</a></center>
</div>
<%= render 'footer' %>