<div class="welcome row">
	<strong><h1>Collaborate on Side Projects</h1></strong>
	<h3>Connect via Github to start building.</h3>
		<a href="<%= user_omniauth_authorize_path(:github) %>"><%= image_tag "github_btn.png" %></a> 
<div class="featured">

			<ul>
				<li>			
					<a href="http://techcrunch.com/2012/08/26/late-labs/" target="_blank"><%= image_tag "techcrunch.png" %></a>
				</li>

				<li>
					<a href="http://tech.co/late-labs-2012-10" target="_blank"><%= image_tag "techcocktail.png" %></a>		
				</li>

				<li>
					<a href="http://venturebeat.com/2012/09/06/late-labs-buggle-us/" target="_blank"><%= image_tag "venturebeat.png" %></a>
				</li>

				<li>
					<a href="http://pandodaily.com/2012/10/17/equity-is-the-new-cash-late-labs-adds-projects-to-crowdsourced-coding-community/" target="_blank"><%= image_tag "pandodaily.png" %></a>
				</li>
			</ul>

			</div>
</div>

<div class="about row">
	There will be content here!
</div>
<br><br>
<div class="why row">
	There will be content here!
</div>
<br><br>