<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<div class="user_info">
				<br>
				<ul>
					<li><img src="http://www.gravatar.com/avatar/<%= @user.gravartar_id %>"/></li>
					<li><h1><%= @user.user_name %></h1></li>
					<li><h3><%= @user.location %></h3></li>
					<br>
					<li><h4>GitHub Information</h4></li>
					<li><h4>Followers: <%= @user.gh_followers %></h4></li>
					<li><h4>Following: <%= @user.gh_following %></h4></li>
					<li><h4>Public Repos: <%= @user.gh_public_repos %></h4></li>
					<li><h4>Private Repos: <%= @user.gh_private_repos %></h4></li>
					<hr>
					<li><span class="mail_image"><%= image_tag "mail.png" %></span> <%= link_to current_user.messages_received.count, '/messages'  %></li>
					<li><%= "projects following  :  " %><%= current_user.stars.count %></li>

				</ul>
			</div>
	<hr>
	<div class="activity_feed">
		<h3>Activity Feed</h3>
		<% @api_activity.each do |activity| %>
			<ul>
		  <li><h4><%= activity.type %></h4></li>
		  <li><%#= activity.name %></li>
		  <li><%#= activity.description %></li>
		  <li><%= activity.created_at %></li>
		  </ul>
		<% end %>				
	</div>
	</div>

		<div class="span4">
			<div class="skills_containder"></div>
			<div class="bio"><h1><%= @user.bio %></h1></div>

			<% unless current_user.id != @user.id %>
				<%= render 'skills' %>
				<% @user.skills.each do |s| %>
					<ul>
				  <li><%= s.skill %></li>
				  </ul>
				<% end %>
			<% end %>
			</div>
		<div class="span4">
			<div class="projects_container">
				<% unless current_user.id != @user.id %>	
						<div class="new_project">
							<%= link_to "New Project", :controller => "projects", :action => "new" %>
						</div>
				<% end %>
				<% @user.projects.each do |p| %>
					<ul>
				  <li><a href="../projects/<%= p.id %>"><%= p.title %></a></li>
				  <li><%= p.explanation %></li>
				  </ul>
				<% end %>
			</div>
		</div>
	</div>
</div>



