<%= render 'users/header' %>



<div class="container">
<div class="show_projects">
	<% @projects_api.each do |project| %>
		<ul class="project">	
			<li class="title"><%= project.name %></li>
			<li class="code"><%= project.html_url %></li>
			<li class="skills"><%#= project.language %></li>
			<!-- <li class="contributors"><%#= project.contributors_url %></li> -->
		</ul>
	<% end %>
</div>

<h1>Create Project</h1>
<br>
<div class="project_form">
<%= form_for @project do |f| %>
	  <%= f.label :title, "Project Title" %>
	  <br>
  <%= f.text_field :title, :autofocus => true, class: "form-control" %>
  <br>

  <%= f.label :code, "Code Repository Link" %>
  <br>
  <%= f.text_field :code_repository_link, class: "form-control" %>
  <br>
  <%= f.label :explanation, "Project Details" %>
  <br>
  <%= f.text_area :explanation, class: "form-control" %>
  
  <br>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <p><p>
  <%= f.submit  class: "btn btn-default" %>
<% end %>
</div>

</div>

<div id="spacing">
</div>
<br>
<br>
<%= render 'users/footer' %>