<div class="show_project">
<ul>
	<li><%= @project.title %></li>
	<li><%= link_to('code', @project.code_repository_link) %></li>
	<li><%= @project.explanation %></li>
	<li><%= @project.skill %></li>
	<li><%= @project.contributors_link %></li>
</ul>
<ul>
	<li><%= link_to('Edit', edit_project_path(@project)) %></li>
	<li><%= link_to('Delete', @project, :method => :delete, :confirm => 'Are you sure?') %></li>
</ul>
</div>

<% unless current_user.id == @project.user_id %>

<a href='/messages/new/?user_receiver=<%=@project.user_id%>&project_id=<%=@project.id%>'><button>Message Project Owner</button></a>

<%#= link_to('Message Project Owner', new_message_path(@project.user_id)) %>

<% end %>
<hr>

	<%= @project.inspect %>


