<div class="show_project">
	<ul>
		<div class="row">
			<h1><li><%= @project.title %></li></h1>
			<h3><li><%= link_to('Link to the Code', @project.code_repository_link) %></li></h3>
		</div>
	</div>
	<div class="rest">
		<div class="follow_buttons">
				<% unless current_user.id == @project.user_id %>
				<!-- trying to build out more rail'sy routes -->
				<%#= link_to "Message Project Owner", controller: "messages", id: "new", path(user_receiver: @project.user_id, project_id: @project.id) %>
				<li><% unless already_following %>
				<%= button_to "Follow", :controller => "stars", :action => "create", :project_id => @project.id %>
				<% else %>
					<h4><%= "Already Following!" %></h4>
				<% end %></li>
				<li><a href='/messages/new/?user_receiver=<%=@project.user_id%>&project_id=<%=@project.id%>'><button>Message Project Owner</button></a><li>
			<% end %>
		</div>
			<h4><li>About: <%= @project.explanation %></li></h4>
			<li><%#= @project.skill %></li>
			<li><%#= @project.contributors_link %></li>
	</ul>
<% unless current_user.id != @project.user_id %>	
	<div class="project_edit">
	<ul>
		<li><%= link_to('Edit', edit_project_path(@project)) %></li>
		<li><%= link_to('Delete', @project, :method => :delete, :confirm => 'Are you sure?') %></li>
	</ul>
	</div>
<%= render 'skills' %>
<% end %>
<br>
<h4>Check out the technologies we are using:</h4>
<% @project.skills.each do |s| %>
		<ul>
	  <h3><li><%= s.skill %></li></h3>
	  </ul>
<% end %>
</div>
	<%#= @project.inspect %>


