<!DOCTYPE html>
<html>

	<head>
	  <title>latelabs</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,500,300italic,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
	
	<%= yield %>
	
	<%= debug(params) if Rails.env.development? %>
	</body>
</html>
