<!DOCTYPE html>
<html>
	<head>
	  <title>latelabs</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,500,300italic,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
 		<div class="navbar navbar-fixed-top">
 			<div class="logo"><%= image_tag "latelabsLogo.png" %></div>
 			<% if user_signed_in? %>
 			<%= link_to image_tag("latelabsLogo.png", :border => 0), {:action => 'show', :controller => 'users', :id => current_user.id}, {:class => 'logo'} %>
 				<div class="search">
 				<%= form_tag skillsets_path, :method => 'get' do %>
				<%= text_field_tag :search, nil, :placeholder => 'search i.e. rails or angular' %>
				<div class="search_button"><%= submit_tag "search" %></div>
				</div>
				<% end %>
				<% else %>
				<span class="signed-out-nav">
					<ul>
						<li>home</li>
						<li>projects</li>
						<li>about</li>
						<li>blog</li>
						<li>help</li>
					</ul>
				</span>
			<% end %>
			
			<div class="auth">
				<% if user_signed_in? %>
		 		  <%= link_to current_user.user_name, user_path(current_user.id)  %> |
		 		  <span class="mail_image"><%= image_tag "mail.png" %></span> <%= link_to current_user.messages_received.count, '/messages'  %> |
		 		  <%= link_to 'Edit profile', edit_user_registration_path %> |
				  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
				<% else %>
				  <%#= link_to "GitHub", user_omniauth_authorize_path(:github) %>
				  <%#= link_to "signin", new_user_session_path %> 
					<%#= link_to "join", new_user_registration_path %> 
			<div class="dropdown">
<!-- 				<link>
				  <span class="glyphicon glyphicon-star"></span> Star
				</link>
 -->	
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag("arrow_down_white.png") %></a>
 			  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				    <li role="presentation" class="divider"></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
				  </ul>
			</div>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="flash">
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, id: "flash_#{name}" %>
				<% end %>
			</div>
		</div>

				<%= yield %>

		<%#= debug(params) if Rails.env.development? %>
</body>
</html>
